@using WebParser.Models.EGRP

@{
    ViewData["Title"] = "Результат";
}

<div class="text-center">
    <h1 class="display-4">Результат</h1>
</div>
<div class="text-center">
    <table class="table-active" style="font-size:.6em" border="1">
        <tr class="font-weight-bold">
            <td>@Estate.NumberTitle</td>
            <td>@Estate.KadastrNumTitle</td>
            <td>@Estate.NameTitle</td>
            <td>@Estate.PurposeTitle</td>
            <td>@Estate.AreaTitle</td>
            <td>@Estate.AddressTitle</td>
            <td>@Estate.RightTypeTitle</td>
            <td>@Estate.GosRegDateTitle</td>
            <td>@Estate.GosRegNumTitle</td>
            <td>@Estate.GosRegBasisTitle</td>
            <td>@Estate.RightsRestrictionsTitle</td>
        </tr>
        @foreach (Estate es in ViewBag.Estates)
        {
        <tr>
            <td>@es.Number</td>
            <td>@es.KadastrNum</td>
            <td>@es.Name</td>
            <td>@es.Purpose</td>
            <td>@es.Area</td>
            <td>@es.Address</td>
            <td>@es.RightType</td>
            <td>@es.GosRegDate</td>
            <td>@es.GosRegNum</td>
            <td>@es.GosRegBasis</td>
            <td>@es.RightsRestrictionsToString</td>
        </tr>
        }

    </table>
    <br>
    <a href="~/EGRP/Index">назад</a>
</div>